/.bundle
vendor/bundle
/.env*
!/.env*.erb
!/.env.sample

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

/public/assets

/config/master.key

# PDF は生成のたびに差分が出るので git で管理せずに逐次生成する
# $ bundle exec rails update_erd:convert_dot_to_pdf
db/erd.pdf
