name: 幻水音楽考 on Spotify

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  workflow_dispatch:
  push:
    branches:
      - '**'
    tags-ignore:
      - 'v*.*.*'

env:
  TZ: Asia/Tokyo
  RAILS_ENV: test

jobs:
  form:
    runs-on: ubuntu-24.04
    name: 幻水音楽考
    steps:
      - name: $ git clone する
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Ruby をセットアップする
        uses: ruby/setup-ruby@8a836efbcebe5de0fe86b48a775b7a31b5c70c93 # v1.277.0
        with:
          ruby-version: .ruby-version
          bundler-cache: true
      - name: RuboCop を実行する
        run: |
          bundle exec rubocop
      - name: データベースをセットアップする
        run: |
          bundle exec rails db:create
          bundle exec rails db:migrate
      - name: RSpec を実行する
        run: |
          bundle exec rspec
      - name: 最終CSVのエクスポートタスクを実行する
        run: |
          bundle exec rails export_to_dist_csv_files:all
